body {
   font-family: izhitsac;
    background-color: rgb(46, 45, 45);
}

h1 {
    text-align: center;
    padding-top: 10px;
    color: white;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}
header{
    background-color: #FFFF40 ;
   padding-top: 10px;
    padding-bottom: 30px;
}
footer{
    background-color: #FFFF40 ;
    padding: 30px;
   
}
a{
    text-decoration: none;
    margin-left: 5%;   
    padding: 5px;
    background-image:linear-gradient(#BF8230,#FFD300, #BF8230,#FFC373,white, #BF8230,#FFC373,#FFD300,#BF8230);
    border-radius: 10px;
    color: black;
    font-weight: 900;
    
}
main ul{
    color: white;
    font-weight: 700;
}
main h1{
    margin-bottom: 100px;
    font-weight: 900;
}

.social{
    margin-left: 10px;   
    padding-top: 40px;
}
.USER{
    font-family: sans-serif;
    float: right; 
    color: black;
}
